<div ng-controller="myContactsCtrl">
<div class="row text-right">
    <div class="col-xs-6">
        <input type="text" ng-model="search" style="width: 100%; font-size: 1.2em; color:deepskyblue; height: 40px" placeholder="Search">
    </div>
        <div class="col-xs-6" ng-controller="popupFormCtrl"><a ng-click="open()"><button class="btn btn-info" ng-click="showAddForm()">Add New Contact <i class="fa fa-plus" aria-hidden="true"></i></button></a></div>
</div><br>
    <div class="row" class="text-center">
        <div class="col-md-12">
            <table class="table">
                <thead>
                    <tr>
                        <th><h3>Name</h3></th>
                        <th><h3>E-mail</h3></th>
                        <th><h3>Address</h3></th>
                        <th><h3>Action</h3></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="contact in contacts | filter: search" >
                        <td ng-controller="showFormCtrl"><h4><a ng-click="open(contact)">{{contact.name | uppercase}}</a></h4></td>
                        <td><h4>{{contact.email}}</h4></td>
                        <td><h4>{{contact.state | uppercase}}, {{contact.country | uppercase}}</h4></td>
                        <td>
                            <a ng-controller="editFormCtrl" ><button ng-click="open(contact)" class="btn btn-primary"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button></a>
                            <span><a ng-click="removeContact(contact)"><button class="btn btn-danger"><i class="fa fa-times" aria-hidden="true"></i></button></a></span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>