<div ng-controller="myContactsCtrl" >
<div ng-controller="popupFormCtrl" ng-if="addFormShow">
<div class="modal-header" >
    <h3 class="modal-title">Add Contact</h3>
</div>
<div class="modal-body">
    <form ng-submit="addFormSubmit()">
        <div class="form-group">
            <label for="name">Full Name</label>
            <input type="text" ng-model="data.name" class="form-control" id="name" aria-describedby="nameHelp" placeholder="Enter Full Name" required>
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" ng-model="data.email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" required>
        </div>
        <div class="form-group">
            <label for="address">Address</label>
            <input type="text" ng-model="data.address" class="form-control" id="address" placeholder="Address" required>
        </div>
        <div class="form-group">
            <label for="city">City</label>
            <input type="text" ng-model="data.city" class="form-control" id="city" placeholder="City" required>
        </div>
        <div class="form-group">
            <label for="state">State</label>
            <input type="text" ng-model="data.state" class="form-control" id="state" placeholder="State" required>
        </div>
        <div class="form-group">
            <label for="country">Country</label>
            <input type="text" ng-model="data.country" class="form-control" id="country" placeholder="Country" required>
        </div>
        <div class="form-group">
            <label for="phone">Cell Number (xxx-xxx-xxxx)</label>
            <input type="tel" max="10" ng-model="data.phone"  pattern="^\d{3}-\d{3}-\d{4}$" class="form-control" id="phone" placeholder="Cell Number" required>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        <span><a ng-click="cancel()"><button class="btn btn-warning" type="button">Cancel</button></a></span>
    </form>
</div>
</div>
</div>